<html>
    <head> 
        <script> 
           //function that evaluates the digit and return result 
           function solve() 
           {
               document.getElementById("error").hidden = true;
               document.getElementById("message").innerText = "";
               document.getElementById("journey").innerText = "";
               let bags = document.getElementById("bags").value;
               let geese = document.getElementById("geese").value;
               fetch(`/crossing?bags=${bags}&geese=${geese}`).then((response) => {
                   if (response.ok) {
                       response.json().then((output) => {
                           document.getElementById("message").innerText = output.message;
                           document.getElementById("journey").innerText = output.journey;
                       })
                   } else {
                       response.json().then((output) => {
                           document.getElementById("error").innerText = output.message;
                           document.getElementById("error").hidden = false;
                       })
                   }
               });
           }

           function doCrossings() {
               document.getElementById("canCross").innerHTML = "woop";
               document.getElementById("cost").innerHTML = "woop";
           }
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>
    <div class="navbar">
        <a href="#" class="navbar-brand">Corninator</a>
    </div>
    <br/>
    <div class="container">
        <div class="alert alert-danger" hidden role="alert" id="error">
            This is a danger alert—check it out!
        </div>
        <div class="form-group">
            <label for="input">Enter number of bags</label>
            <input class="form-control" type="number" id="bags"/>
            <label for="input">Enter number of geese</label>
            <input class="form-control" type="number" id="geese"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" onclick="solve()">Calculate cost of crossing</button>
        </div>
        <div id="message"></div>
        </br>
        <div id="journey"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </body>
</html>
