<html>
    <head> 
        <script> 
           //function that evaluates the digit and return result 
           function solve() 
           { 
               let x = document.getElementById("input").value 
               let y = x*0.25 
               document.getElementById("result").innerHTML = y 
           }
           function doCrossings(){
               document.getElementById("canCross").innerHTML = "woop"
               document.getElementById("cost").innerHTML = "woop"
           } 
        </script> 
        <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            Enter number of bags <input class="form-control" type="number" id="input"/>
            <button class="btn" onclick="solve()">Calculate cost of crossing</button>
            <div id="result"/>
            <div>*******</div>
            <div>Enter number of bags  <input class="form-control" type="number" id="bags"/>  </div>
            <div>Enter number of geese  <input class="form-control" type="number" id="geese"/>  </div>
            <button class="btn" onclick="doCrossings()">Perform Crossings</button>
            <div>
                <div id="canCross" />
                <div id="cost" />
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
